*{
  margin:0px;
}
button , a {
  cursor:pointer;
}
a{
  text-decoration: none;

}

header{
  height:50px;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.logo{
  letter-spacing: 3px;
  margin-left: 20px;
}
.bar{
margin-right:20px;
background-color: transparent;
border:none;
font-size: 35px;
transition:all 0.5s ease;
}
.bar:hover{
  color:blue;
  font-size:37px;
}

.head-nav{
  float:right;
  width:150px;
  background-color:white;
    visibility: hidden;
}
.btn{
  display:block;
  border-bottom:1px dashed black;
  font-size: 20px;
  padding:5px 10px 5px 10px;
  transition:background-color 0.5s ease;
  border:1px solid white;
}
.btn-toggle{
  visibility:visible;
}



.btn:hover{
  background-color:	#87CEEB;
}
.background{
  background-image:url('https://cdn.pixabay.com/photo/2019/05/14/21/50/storytelling-4203628__480.jpg');
  background-size: contain;
  background-position:center;
  margin:auto;
  height:600px;
  max-height:600px;
  width:100%;
}

footer{
  background-color:black;
  height:500px;
  width:100%;
  color:white;
}

.footer-header{
  padding-top:50px;
  display:flex;
  justify-content: center;
  align-content: center;
}

h3{
  height:50px;
  width:30%;
  font-size:30px;
  border-bottom:1px solid white;
}

.foot-nav{
  height:50px;
  width:30%;
  font-size:30px;
  border-bottom:1px solid white;
  text-align: right;
}
.fab{
  color:white;
}
.fab:hover{
  color:lightgrey;
}
.footer-nav{
  height:90px;
  width:60%;
  margin:auto;
  display:flex;
  justify-content: space-around;
  align-items:center;
}

.link{
 font-size:25px;

 transition:all 0.3s ease;
}
.link:hover{
  color:lightgrey;
}
